.tab-section .tab {
    background: #FDFAFA;
    color: #000000;
    padding: 0.35rem 0.85rem;
    display: flex;
    align-items: center;
    border-radius: 0.15rem;
    box-sizing: border-box;
    user-select: none;
    max-width: 10rem;
    min-width: initial;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.65rem 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        flex-grow: 1;
    }

    .controls {
        justify-self: flex-end;
        display: flex;
        align-items: center;

        .settings svg {
            margin: 0;
        }
    }
}